*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 20px 'Vollkorn', serif;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  background: #FBF0D9;
  color: #5F4B32;
}

a.fn {
  color: #5F4B32;
}

ul, h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}
h1, h2, h3, h4 {
  font-weight: 800;
}

a {
  color: #265299;
  text-decoration: none;
}
a:visited {
  color: #6A1163;
}

.content {
  max-width: 34em;
  margin: 0 auto;
}

p {
  text-indent: 2em;
  margin: 0;
}

.chapter-nav p {
 text-indent: 0;
}

.ChapNo, .PartNo {
  text-indent: 0;
  font-size: 2em;
  padding: 0.25em 0.5em;
  background: #5F4B32;
  color: #FBF0D9;
  display: inline-block;
  line-height: 1;
  margin: 0.25em 0;
  font-family: 'Open Sans', sans-serif;
}

.Heading1, .Sub1, .Section {
  font-size: 1.2em;
  text-indent: 0;
  margin: 1.5em 0 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}
.Sub2 {
  font-size: 1.2em;
  text-indent: 0;
  margin: 1.5em 0 0.5em;
}

.Quote {
  padding-left: 20px;
  border-left: 2px solid #ccc;
}
.Quote i {
  font-style: normal;
}

.footnote {
  font-size: smaller;
  vertical-align: super;
  line-height: 1;
}

.alphaLinks {
  list-style: none;
  margin: 0;
  padding: 0;
}
.alphaLinks li {
  display: inline-block;
}
.alphaLinks li a {
  display: block;
  padding: 4px;
}


#panel {
  background: #FBF0D9;
  padding: 20px;
}
#menu {
  background: #ccc;
  margin-bottom: 0;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}



@media only screen and (max-width : 480px) {
  body {
    padding: 10px;
  }

  .content {
    max-width: auto;
    margin: auto;
  }

  p {
    text-indent: 1em;
  }
}

@media print {
  .nav, .app-title, .chapter-nav, #menu, .toggle-button {
    display: none;
  }
  body {
    background: #fff;
    color: #000;
    font-size: 10pt;
    margin: 0;
    padding: 0;
  }
  a, a:visited {
    color: #000;
  }
}